<nav class="navbar navbar-light justify-content-between my-nav">
  <%= link_to 'Mr. Cocktails', cocktails_path %>
  <%= link_to 'Add a cocktail', new_cocktail_path, class: 'but' %>
</nav>
<div class="small-banner" style="background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
  <h1><%= @cocktail.name %></h1>
</div>

<div class="my-container d-flex justify-content-between">
  <div class="my-doses">
    <h2 class="text-center mb-4 mt-4">Doses</h2>
    <div class="medium-box">
      <ul>
        <% @cocktail.doses.each do |d| %>
          <li><strong><%= d.ingredient.name %></strong> - <%= d.description %> <%= link_to dose_path(d.id), method: :delete, data: { confirm: "Delete #{d.ingredient.name}?" } do %>
                                                                                                              <i class="far fa-trash-alt"></i>
                                                                                                            <% end %></li>
        <% end %>
      </ul>
      <div class="d-flex options justify-content-between mt-5">
        <%= link_to(cocktails_path, class: 'my-btn') { %>
          Back <i class="fas fa-chevron-circle-left"></i>
        <% } %>
      </div>
    </div>
  </div>
  <div class="add-form">
<!--     <%= link_to(cocktails_path) { %>

    <% } %> -->
    <div class="title-box">
      <a id='add-btn'><h2 class="text-center mb-4 mt-4 my-btn p-0"><i class="fas fa-plus"></i> Add dose</h2></a>
<!--       <%= link_to(new_cocktail_dose_path(@cocktail)) { %>

      <% } %> -->
    </div>
    <div class="medium-box" id="add-form" style="visibility: hidden;">
      <%= simple_form_for([@cocktail, Dose.new]) do |f| %>
        <%= f.association :ingredient, collection: Ingredient.all.order(:name) %>
        <%= f.input :description %>
        <div class="d-flex justify-content-between">
          <%= f.submit class: 'submit-btn' %>
          <%= link_to 'Cancel', cocktail_path(@cocktail), class: 'cancel-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
